apiVersion: v1
kind: PersistentVolume
metadata:
  name: grafana-nfs-pv
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs
  nfs:
    path: /srv/nfs/grafana
    server: 192.168.0.178
